<div class="container mt-5">
  <div style="text-align: center;">

    @if(!registerMode){
      <h1>Find Software Engineer's to network and grow with!</h1>
    <p class="lead">Our platform encourages engineers to stack in touch with the most up-to-date trends in tech.. and what other way to do that, than to engage with others who possess
      those desired skills! All you need to do is sign up below
    </p>
    <div class="text-center">
      <button class="btn btn-primary bthn-lg me-2" (click)="registerToggle()">Register</button>
      <button class="btn btn-info bthn-lg me-2">Learn more</button>
    </div>
    <img class="swe-gif" src="\assets\Code Hacking GIF by Pizza Ninjas.gif" alt="software engineer at work!">
    } @else {

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <app-register
            (cancelRegister)="cancelRegisterMode($event)"
          ></app-register>
        </div>
        </div>
      </div>
      }


  </div>
</div>
